<footer>
    <div class="footer-top">
        <div class="container">
            <ul class="footer-list">
                <li>
                    <a href="/">
                        <img src="../../build/img/logo.png" alt="">
                    </a>
                </li>
                <li><a href="#"><span>Портфолио</span></a></li>
                <li><a href="#"><span>Отзывы</span></a></li>
                <li><a href="#"><span>Цены</span></a></li>
                <li><a href="#"><span>Услуги</span></a></li>
                <li><a href="#"><span>блог</span></a></li>
                <li><a href="#"><span>Рейтинг</span></a></li>
                <li><a href="#"><span>о нас</span></a></li>
                <li><a href="#"><span>Контакты</span></a></li>
                <li><a href="#"><span>F.A.Q.</span></a></li>
            </ul>
            <div class="footer-middle">
                <ul class="footer-data">
                    <li>
                        <a class="tel" href="tel:+7 (123) 456-78-90">
                            <i class="fas fa-phone"></i>
                            <span>+7 (123) 456-78-90</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:mail@mail.ru">
                            <img src="../../build/img/mail.svg" alt="">
                            <span>mail@mail.ru</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://maps.google.com/?ll=50.448820,30.513599" target="_blank">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>Адрес компании, где принимаем клиентов</span>
                        </a>
                    </li>
                </ul>
                <ul class="header-socc">
                    <li><a href="#"><i class="fab fa-viber"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p class="same-woidth">(c) Company name. All rights reserved 2020</p>
            <a href="/policy">Правовая информация</a>
            <p class="same-woidth">Сделано с  <img src="../../build/img/heart.svg" alt="">  в <a href="https://simplexx.agency/">Simplexx</a></p>
        </div>
    </div>
</footer>
