<div class="rate-page header-pt pb112">
    <div class="container">
        <ul class="breadcrumbs-list">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Рейтинг</a></li>
        </ul>
        <h2>Рейтинг</h2>
        <div class="rate-page-content">
            <ul class="rate-nav">
                <li>
                    <img src="../../build/img/rate-info.svg" alt="">
                    <span>как присваивается рейтинг?</span>
                </li>
                <li>
                    <img class="plus-nav" src="../../build/img/plus.svg" alt="">
                    <span>Добавить кооператив в рейтинг</span>
                </li>
            </ul>
            <div class="rate-block">
                <div class="flex">
                    <input class="input-rate" type="text" name="" placeholder="Поиск материалов по интересующему вас КПК или компании">
                    <select class="select-custom" placeholder="Выберите компанию">
                        <option value="1">КПК</option>
                        <option value="2">Другие фин компании</option>
                        <option value="3">3 фин компании</option>
                    </select>
                    <select class="select-custom" placeholder="Год регистрации">
                        <option value="1">1900</option>
                        <option value="2">2002</option>
                        <option value="3">2010</option>
                    </select>
                    <div class="rate-search-btn">Поиск</div>
                </div>
                <div class="check-rate-wrp">
                    <label class="checkbox">
                    	<input type="checkbox" />
                    	<div class="checkbox__text">4 звезды и более</div>
                    </label>
                    <label class="checkbox">
                    	<input type="checkbox" />
                    	<div class="checkbox__text">Только с отзывами</div>
                    </label>
                </div>
            </div>
            <div class="row rate-sort-wrp">
                <div class="col-md-9 col-12">
                    <div class="flex-vertical">
                        <p class="rate-sort">Сортировать по:</p>
                        <select class="rate-sort-list-mob" >
                            <option value="1">Имени</option>
                            <option value="2">Дате регистрации</option>
                            <option value="3">Рейтингу</option>
                            <option value="3">Отзывам</option>
                        </select>
                        <ul class="rate-sort-list">
                            <li class="active">Имени</li>
                            <li>Дате регистрации</li>
                            <li>Рейтингу</li>
                            <li>Отзывам</li>
                        </ul>
                        <ul class="rate-sort-direction">
                            <li class="active"><i class="fas fa-arrow-up"></i></li>
                            <li><i class="fas fa-arrow-down"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-12 ta-right">
                    <p class="rate-sort">Показано: <span>7 компаний</span></p>
                </div>
            </div>
            <div class="kpk-card">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <img src="../../build/img/kpk-logo.png" alt="">
                        <h3>КПК Импульс</h3>
                        <div class="kpk-star">
                            <img src="../../build/img/star.svg" alt="">
                            <span>3.5</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Контакты</p>
                        <p class="kpk-value">Москва, Цветной бульвар д.26 стр.1 Деловой центр "Цветной 26" офис 27А м. Цветной бульвар</p>
                        <ul class="kpk-value">
                            <li>
                                <a href="tel:8 (499)444-02-21">8 (499)444-02-21</a>
                            </li>
                            <li>
                                <a href="http://www.impulsfinans.ru">www.impulsfinans.ru</a>
                            </li>
                            <li>
                                <a href="mailto:info@impulsfinans.ru">info@impulsfinans.ru</a> (Москва)
                            </li>
                            <li>
                                <a href="mailto:spb@kpkimpuls.ru">spb@kpkimpuls.ru</a> (Санкт-Петербург)
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">О кооперативе</p>
                        <p class="kpk-value">Входит в СРО Союз Саморегулируемых организаций «Национальное объединение кредитных кооперативов»</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Председатель</p>
                        <p class="kpk-value">АБРАМЯН ГЕОРГИЙ АНДРЕЕВИЧ</p>
                        <div class="flex-vertical middle">
                            <p class="kpk-property">Дата регистрации:</p>
                            <p class="kpk-value">07.09.2015</p>
                        </div>
                        <div class="flex-vertical">
                            <p class="kpk-property">Отзывы:</p>
                            <img class="point good" src="../../build/img/good.svg" alt="">
                            <span>102</span>
                            <img class="point bad" src="../../build/img/bad.svg" alt="">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kpk-card">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <img src="../../build/img/kpk-logo.png" alt="">
                        <h3>КПК Импульс</h3>
                        <div class="kpk-star">
                            <img src="../../build/img/star.svg" alt="">
                            <span>3.5</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Контакты</p>
                        <p class="kpk-value">Москва, Цветной бульвар д.26 стр.1 Деловой центр "Цветной 26" офис 27А м. Цветной бульвар</p>
                        <ul class="kpk-value">
                            <li>
                                <a href="tel:8 (499)444-02-21">8 (499)444-02-21</a>
                            </li>
                            <li>
                                <a href="http://www.impulsfinans.ru">www.impulsfinans.ru</a>
                            </li>
                            <li>
                                <a href="mailto:info@impulsfinans.ru">info@impulsfinans.ru</a> (Москва)
                            </li>
                            <li>
                                <a href="mailto:spb@kpkimpuls.ru">spb@kpkimpuls.ru</a> (Санкт-Петербург)
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">О кооперативе</p>
                        <p class="kpk-value">Входит в СРО Союз Саморегулируемых организаций «Национальное объединение кредитных кооперативов»</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Председатель</p>
                        <p class="kpk-value">АБРАМЯН ГЕОРГИЙ АНДРЕЕВИЧ</p>
                        <div class="flex-vertical middle">
                            <p class="kpk-property">Дата регистрации:</p>
                            <p class="kpk-value">07.09.2015</p>
                        </div>
                        <div class="flex-vertical">
                            <p class="kpk-property">Отзывы:</p>
                            <img class="point good" src="../../build/img/good.svg" alt="">
                            <span>102</span>
                            <img class="point bad" src="../../build/img/bad.svg" alt="">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kpk-card">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <img src="../../build/img/kpk-logo.png" alt="">
                        <h3>КПК Импульс</h3>
                        <div class="kpk-star">
                            <img src="../../build/img/star.svg" alt="">
                            <span>3.5</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Контакты</p>
                        <p class="kpk-value">Москва, Цветной бульвар д.26 стр.1 Деловой центр "Цветной 26" офис 27А м. Цветной бульвар</p>
                        <ul class="kpk-value">
                            <li>
                                <a href="tel:8 (499)444-02-21">8 (499)444-02-21</a>
                            </li>
                            <li>
                                <a href="http://www.impulsfinans.ru">www.impulsfinans.ru</a>
                            </li>
                            <li>
                                <a href="mailto:info@impulsfinans.ru">info@impulsfinans.ru</a> (Москва)
                            </li>
                            <li>
                                <a href="mailto:spb@kpkimpuls.ru">spb@kpkimpuls.ru</a> (Санкт-Петербург)
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">О кооперативе</p>
                        <p class="kpk-value">Входит в СРО Союз Саморегулируемых организаций «Национальное объединение кредитных кооперативов»</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Председатель</p>
                        <p class="kpk-value">АБРАМЯН ГЕОРГИЙ АНДРЕЕВИЧ</p>
                        <div class="flex-vertical middle">
                            <p class="kpk-property">Дата регистрации:</p>
                            <p class="kpk-value">07.09.2015</p>
                        </div>
                        <div class="flex-vertical">
                            <p class="kpk-property">Отзывы:</p>
                            <img class="point good" src="../../build/img/good.svg" alt="">
                            <span>102</span>
                            <img class="point bad" src="../../build/img/bad.svg" alt="">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kpk-card">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <img src="../../build/img/kpk-logo.png" alt="">
                        <h3>КПК Импульс</h3>
                        <div class="kpk-star">
                            <img src="../../build/img/star.svg" alt="">
                            <span>3.5</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Контакты</p>
                        <p class="kpk-value">Москва, Цветной бульвар д.26 стр.1 Деловой центр "Цветной 26" офис 27А м. Цветной бульвар</p>
                        <ul class="kpk-value">
                            <li>
                                <a href="tel:8 (499)444-02-21">8 (499)444-02-21</a>
                            </li>
                            <li>
                                <a href="http://www.impulsfinans.ru">www.impulsfinans.ru</a>
                            </li>
                            <li>
                                <a href="mailto:info@impulsfinans.ru">info@impulsfinans.ru</a> (Москва)
                            </li>
                            <li>
                                <a href="mailto:spb@kpkimpuls.ru">spb@kpkimpuls.ru</a> (Санкт-Петербург)
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">О кооперативе</p>
                        <p class="kpk-value">Входит в СРО Союз Саморегулируемых организаций «Национальное объединение кредитных кооперативов»</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Председатель</p>
                        <p class="kpk-value">АБРАМЯН ГЕОРГИЙ АНДРЕЕВИЧ</p>
                        <div class="flex-vertical middle">
                            <p class="kpk-property">Дата регистрации:</p>
                            <p class="kpk-value">07.09.2015</p>
                        </div>
                        <div class="flex-vertical">
                            <p class="kpk-property">Отзывы:</p>
                            <img class="point good" src="../../build/img/good.svg" alt="">
                            <span>102</span>
                            <img class="point bad" src="../../build/img/bad.svg" alt="">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kpk-card">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <img src="../../build/img/kpk-logo.png" alt="">
                        <h3>КПК Импульс</h3>
                        <div class="kpk-star">
                            <img src="../../build/img/star.svg" alt="">
                            <span>3.5</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Контакты</p>
                        <p class="kpk-value">Москва, Цветной бульвар д.26 стр.1 Деловой центр "Цветной 26" офис 27А м. Цветной бульвар</p>
                        <ul class="kpk-value">
                            <li>
                                <a href="tel:8 (499)444-02-21">8 (499)444-02-21</a>
                            </li>
                            <li>
                                <a href="http://www.impulsfinans.ru">www.impulsfinans.ru</a>
                            </li>
                            <li>
                                <a href="mailto:info@impulsfinans.ru">info@impulsfinans.ru</a> (Москва)
                            </li>
                            <li>
                                <a href="mailto:spb@kpkimpuls.ru">spb@kpkimpuls.ru</a> (Санкт-Петербург)
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">О кооперативе</p>
                        <p class="kpk-value">Входит в СРО Союз Саморегулируемых организаций «Национальное объединение кредитных кооперативов»</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Председатель</p>
                        <p class="kpk-value">АБРАМЯН ГЕОРГИЙ АНДРЕЕВИЧ</p>
                        <div class="flex-vertical middle">
                            <p class="kpk-property">Дата регистрации:</p>
                            <p class="kpk-value">07.09.2015</p>
                        </div>
                        <div class="flex-vertical">
                            <p class="kpk-property">Отзывы:</p>
                            <img class="point good" src="../../build/img/good.svg" alt="">
                            <span>102</span>
                            <img class="point bad" src="../../build/img/bad.svg" alt="">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kpk-card">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <img src="../../build/img/kpk-logo.png" alt="">
                        <h3>КПК Импульс</h3>
                        <div class="kpk-star">
                            <img src="../../build/img/star.svg" alt="">
                            <span>3.5</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Контакты</p>
                        <p class="kpk-value">Москва, Цветной бульвар д.26 стр.1 Деловой центр "Цветной 26" офис 27А м. Цветной бульвар</p>
                        <ul class="kpk-value">
                            <li>
                                <a href="tel:8 (499)444-02-21">8 (499)444-02-21</a>
                            </li>
                            <li>
                                <a href="http://www.impulsfinans.ru">www.impulsfinans.ru</a>
                            </li>
                            <li>
                                <a href="mailto:info@impulsfinans.ru">info@impulsfinans.ru</a> (Москва)
                            </li>
                            <li>
                                <a href="mailto:spb@kpkimpuls.ru">spb@kpkimpuls.ru</a> (Санкт-Петербург)
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">О кооперативе</p>
                        <p class="kpk-value">Входит в СРО Союз Саморегулируемых организаций «Национальное объединение кредитных кооперативов»</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Председатель</p>
                        <p class="kpk-value">АБРАМЯН ГЕОРГИЙ АНДРЕЕВИЧ</p>
                        <div class="flex-vertical middle">
                            <p class="kpk-property">Дата регистрации:</p>
                            <p class="kpk-value">07.09.2015</p>
                        </div>
                        <div class="flex-vertical">
                            <p class="kpk-property">Отзывы:</p>
                            <img class="point good" src="../../build/img/good.svg" alt="">
                            <span>102</span>
                            <img class="point bad" src="../../build/img/bad.svg" alt="">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagination-container-rate"></div>
        </div>
    </div>
</div>
