.kpk-page {
    padding-top: 50px;
    background-color: #fff;
    h2 {
        margin-bottom: 40px;
        color: #fff;
    }
}
.kpk-start {
    position: relative;
    background-color: #060D12;
    padding: 59px 0 149px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0.1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .back {
        margin-bottom: 26px;
    }
}
.kpk-btns-wrp {
    flex-wrap: wrap;
}
.kpk-btn1 {
    @extend %BTN;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0 28px;
    text-align: center;
    line-height: 1.2;
}
.kpk-btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 24px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #ECBB79;
    background-color: #11222E;
    cursor: pointer;
    transition: .3s;
    font-size: 13px;
    margin-left: 24px;
    &:hover {
        background-color: #1A3345;
    }
}
// white part
.kpk-page-content {
    background-color: #fff;
}
.kpk-card {
    position: relative;
    z-index: 2;
    margin-top: -75px;
    padding: 24px 24px 34px;
    background: #FFFFFF;
    border: 1px solid #ECBB79;
    box-shadow: 0px 0 20px 2px rgba(236, 187, 121, 0.3);
    h3 {
        margin: 16px 0 12px;
    }
    .flex-vertical {
        .kpk-property {
            margin-bottom: 0;
            margin-right: 16px;
        }
        &.middle {
            margin: 16px 0;
        }
    }
    .point {
        margin-right: 5px;
    }
    .good {
        margin-bottom: 5px;
    }
    span {
        & + .point {
            margin-left: 22px;
        }
    }
}
.kpk-property {
    color: #B5B7B8;
    margin-bottom: 8px;
}
.kpk-value {
    a {
        transition: .2s;
        &:hover {
            color: $goldHover
        }
    }
    & + .kpk-value {
        margin-top: 16px;
    }
}
.basic-information {
    margin-top: 32px;
    background: #FFFFFF;
    border: 1px solid #CCD7DC;
    padding: 32px 24px 40px;
    .row + .row {
        margin-top: 12px;
    }
    .col-12:first-child {
        color: #B5B7B8;
    }
}
// 3 block
.detailed-information {
    padding-top: 112px;
    h3 {
        margin-bottom: 40px;
    }
}
.detailed-information-list {
    & > li {
        display: flex;
        align-items: flex-start;
        position: relative;
        .img-info {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            border: 1px solid #ECBB79;
            margin-right: 16px;
            flex-shrink: 0;
        }
        & + li {
            margin-top: 24px;
        }
    }
}
.detailed-information-sublist {
    li {
        display: flex;
        align-items: flex-start;
        line-height: 24px;
        &::before {
            content: '•';
            margin-right: 5px;
        }
    }
}
// 4 block
.kpk-vrezka {
    display: flex;
    align-items: flex-start;
    padding: 24px 24px 31px;
    background: #FFFFFF;
    border: 1px solid #ECBB79;
    box-shadow: 0px 0 20px 2px rgba(236, 187, 121, 0.3);
    margin: 56px 0;
    img {
        width: 48px;
        height: 48px;
        margin-right: 24px;
    }
}
.kpk-vrezka-title {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: rgba(6, 13, 18, 0.94);
    font-family: 'PT Serif', serif;
    margin-bottom: 8px;
}
.kpk-warning {
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
    color: #B5B7B8;
}
// kpk-reviews
.kpk-reviews {
    padding-top: 112px;
    h3 {
        margin-bottom: 40px;
    }
}
.kpk-reviews-nav {
    padding-bottom: 8px;
    li {
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        font-family: 'PT Serif', serif;
        cursor: pointer;
        p {
            color: rgba(6, 13, 18, 0.3);
            transition: .2s;
            margin-right: 8px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: -6px;
                left: 0;
                display: block;
                width: 0;
                height: 1px;
                background-color: #ECBB79;
                transition: .3s;
            }
        }
        span {
            color: #8C969E;
        }
        &.active {
            p {
                color: #060D12;
                &::after {
                    width: 103px;
                }
            }
        }
        &:hover {
            p {
                color: #060D12;
                &::after {
                    width: 103px;
                }
            }
        }
        & + li {
            margin-left: 32px;
        }
    }
}
.kpk-reviews-img-wrp {
    position: relative;
    width: 100%;
}
.kpk-reviews-img {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.kpk-reviews-name-wrp {
    display: flex;
    align-items: center;
}
.kpk-reviews-name {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: rgba(6, 13, 18, 0.94);
}
.kpk-reviews-data {
    color: #B5B7B8;
    margin-left: 12px;
}
.stars-wrp {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 17px;
    img {
        opacity: 0;
        & + img {
            margin-left: 5px;
        }
    }
    &[data-star="1"] {
        img {
            &:first-child {
                opacity: 1;
            }
        }
    }
    &[data-star="2"] {
        img {
            &:nth-child(-n + 2) {
                opacity: 1;
            }
        }
    }
    &[data-star="3"] {
        img {
            &:nth-child(-n + 3) {
                opacity: 1;
            }
        }
    }
    &[data-star="4"] {
        img {
            &:nth-child(-n + 4) {
                opacity: 1;
            }
        }
    }
    &[data-star="5"] {
        img {
            opacity: 1;
        }
    }
}
.kpk-review-card {
    margin-top: 32px;
}
#pagination-container-kpk {
    margin-top: 56px;
}


@media (max-width: 1199px) {

}
@media (max-width: 991px) {
    .kpk-btn2 {
        margin-left: 0;
        margin-top: 30px;
    }
    .kpk-card {
        padding: 24px 24px 14px;
        .col-12 {
            padding-bottom: 20px;
        }
    }
}
@media (max-width: 767px) {
    .detailed-information, .kpk-reviews {
        padding-top: 70px;
        h3 {
            margin-bottom: 25px;
        }
    }
    .kpk-start {
        padding-top: 30px;
    }
    #pagination-container-kpk {
        margin-top: 46px;
    }
}
@media (max-width: 480px) {
    .pl-mob-0 {
        padding-left: 0;
    }
    .kpk-reviews-name-wrp {
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .kpk-reviews-data {
        margin-left: 0;
    }
}
