<div class="services-page header-pt pb112">
    <div class="container">
        <ul class="breadcrumbs-list">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Портфолио</a></li>
        </ul>
        <h2>Сферы практики</h2>
        <div class="services-page-content">
            <div class="offset-lg-1 offset-0 col-lg-10 col-12">
                <div class="areas-block-wrp">
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas1.jpg" alt="">
                        <p>Анализ и консультирование по финансовым компаниям</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas2.jpg" alt="">
                        <p>Анализ и&nbsp;консультирование&nbsp;КПК</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas3.jpg" alt="">
                        <p>Консультации <br>при разводе</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas4.jpg" alt="">
                        <p>Консультации <br>по наследственным делам</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas5.jpg" alt="">
                        <p>Юридическая консультация по&nbsp;жилищным вопросам</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas6.jpg" alt="">
                        <p>Консультация по&nbsp;трудовым вопросам</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas7.jpg" alt="">
                        <p>Консультация юриста по&nbsp;недвижимости</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas8.jpg" alt="">
                        <p>Консультация по земельному вопросу</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas9.jpg" alt="">
                        <p>Консультации по семейным вопросам</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas10.jpg" alt="">
                        <p>Консультации по гражданским делам</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas11.jpg" alt="">
                        <p>Представительство в суде</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas12.jpg" alt="">
                        <p>Защита обманутых вкладчиков/дольщиков</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas13.jpg" alt="">
                        <p>Уголовные дела</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas14.jpg" alt="">
                        <p>Арбитражные дела</p>
                    </a>
                    <a href="#" class="areas-block">
                        <span class="top"></span>
                        <span class="bottom"></span>
                        <img src="../../build/img/areas15.jpg" alt="">
                        <p>Административные дела</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
