<div class="about-page header-pt">
    <div class="container">
        <ul class="breadcrumbs-list">
            <li><a href="/">Главная</a></li>
            <li><a href="#">О нас</a></li>
        </ul>
        <h2 class="about-page-h2">О компании</h2>
        <div class="about-page-content">
            <div class="row">
                <div class="col-md-2 d-none d-md-block">
                    <div class="about-nav-wrp floating">
                        <a href="#" class="about-nav scrollUp">
                            <img src="../../build/img/group.svg" alt="">
                            <p>Наша команда</p>
                        </a>
                        <a href="#contacts" class="about-nav scrollTo">
                            <img src="../../build/img/communicate.svg" alt="">
                            <p>Контакты</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-10 col-12">
                    <div class="row">
                        <div class="col-md-3 col-12 col20">
                            <h3>Ваши дела будут вести</h3>
                        </div>
                        <div class="col-md-9 col-12 col80">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                    </div>
                    <div class="about-img-wrp">
                        <div class="about-img">
                            <img src="../../build/img/about.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="dark-theme">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-10 offset-0 col-12">
                    <h3>Сертификаты</h3>
                    <div class="row sertificate-wrp">
                        <div class="col-md-3 col-4 col20">
                            <a href="../../build/img/review1.jpg" class="sertificate-img" data-fancybox="gallery"><img src="../../build/img/review1.jpg" alt=""></a>
                            <a href="../../build/img/sertificate.png" class="sertificate-img" data-fancybox="gallery"><img src="../../build/img/sertificate.png" alt=""></a>
                        </div>
                        <div class="col-md-3 col-4 col20">
                            <a href="../../build/img/sertificate.png" class="sertificate-img" data-fancybox="gallery"><img src="../../build/img/sertificate.png" alt=""></a>
                            <a href="../../build/img/review1.jpg" class="sertificate-img" data-fancybox="gallery"><img src="../../build/img/review1.jpg" alt=""></a>
                        </div>
                        <div class="col-md-3 col-4 col20">
                            <a href="../../build/img/review1.jpg" class="sertificate-img" data-fancybox="gallery"><img src="../../build/img/review1.jpg" alt=""></a>
                        </div>
                        <div class="col-md-3 col-4 col20">
                            <a href="../../build/img/sertificate.png" class="sertificate-img" data-fancybox="gallery"><img src="../../build/img/sertificate.png" alt=""></a>
                            <a href="../../build/img/sertificate.png" class="sertificate-img" data-fancybox="gallery"><img src="../../build/img/sertificate.png" alt=""></a>
                        </div>
                        <div class="col-md-3 col-4 col20">
                            <a href="../../build/img/review1.jpg" class="sertificate-img" data-fancybox="gallery"><img src="../../build/img/review1.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <section id="contacts" class="contacts">
                <div class="row">
                    <div class="offset-lg-2 col-lg-4 offset-0 col-md-6 col-12">
                        <h3>Контактная информация</h3>
                        <ul class="list-contacts">
                            <li>
                                <a href="tel:+7 (123) 456-78-90" class="tel">
                                    <i class="fas fa-phone"></i>
                                    <span>+7 (123) 456-78-90</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:mail@mail.ru">
                                    <img src="../../build/img/mail.svg" alt="">
                                    <span>mail@mail.ru</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://maps.google.com/?ll=50.448820,30.513599" target="_blank">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Адрес компании, где принимаем клиентов</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="header-socc">
                            <li><a href="#"><i class="fab fa-viber"></i></a></li>
                            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            <li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div id="contact-map"></div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="case-plashka">
        <img src="../../build/img/form.jpg">
        <div class="overlay-solid"></div>
        <div class="overlay-grad"></div>
        <div class="container">
            <div class="form-plashka">
                <h2>Есть вопросы? Получить консультацию</h2>
                <form action="#">
                    <div class="main-form-wrp">
                        <input type="text" name="" value="" placeholder="Имя" required="">
                        <input type="email" name="" value="" placeholder="E-mail">
                        <input type="tel" class="mask-phone" name="" value="" placeholder="Телефон" required="">
                    </div>
                    <input class="input-textarea" type="text" name="" value="" placeholder="Ваш вопрос">
                    <input type="submit" class="get-consult" value="Получить консультацию">
                    <p class="form-warning">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с <a href="/policy">Политиками Конфиденциальности</a></p>
                </form>
            </div>
        </div>
    </section>
</div>
