<div class="addKpk-page header-pt pb112">
    <div class="container">
        <a href="#" class="back">Рейтинг</a>
        <h2>Партнерская программа для КПК</h2>
        <div class="row">
            <div class="col-lg-7 col-12">
                <p class="add-enter-text">Мы приглашаем к взаимовыгодному сотрудничеству КПК из различных регионов. <br>Для этого ответьте, пожалуйста, на следующие вопросы по вашему КПК</p>
            </div>
        </div>
    </div>
    <div class="addKpk-page-content">
        <form action="#">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-1 col-lg-5 offset-0 col-12">
                        <input type="text" class="addkpk-input" placeholder="Название Вашего КПК">
                        <input type="text" class="addkpk-input" placeholder="Имя и Фамилия">
                    </div>
                    <div class="col-lg-5 col-12">
                        <input type="text" class="addkpk-input" placeholder="Город">
                        <input type="tel" class="addkpk-input input-phone" placeholder="Телефон для связи">
                    </div>
                </div>
                <div class="row">
                    <div class="offset-lg-1 col-lg-5 offset-0 col-12">
                        <p class="addKpk-page-subtitle">Какого рода сотрудничество вас интересует?</p>
                        <label class="radio">
                            <input type="radio" name="1" />
                            <div class="radio__text">хотим получать заяки на займ</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="1" />
                            <div class="radio__text">хотим получать заявки на вклад</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="1" />
                            <div class="radio__text">хотим получать заявки на маткапитал</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="1" />
                            <div class="radio__text">разместить рекламу на сайте</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="1" />
                            <div class="radio__text">попасть в рейтинг КПК</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="1" />
                            <div class="radio__text">стать партнером по МАТКАПИТАЛУ в своем регионе</div>
                        </label>
                    </div>
                    <div class="col-lg-5 col-12">
                        <p class="addKpk-page-subtitle">Выберите варианты, с кем работает ваш КПК</p>
                        <label class="radio">
                            <input type="radio" name="2" />
                            <div class="radio__text">работает с физ.лицами</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="2" />
                            <div class="radio__text">работает с юр.лицами</div>
                        </label>
                        <p class="addKpk-page-subtitle">Работаете ли с материнским капиталом?</p>
                        <label class="radio">
                            <input type="radio" name="3" />
                            <div class="radio__text">Да</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="3" />
                            <div class="radio__text">Нет</div>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-lg-1 col-lg-5 offset-0 col-12">
                        <p class="addKpk-page-subtitle">Какие виды кредитов вы выдаете?</p>
                        <label class="radio">
                            <input type="radio" name="4" />
                            <div class="radio__text">займ под залог недвижимости</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="4" />
                            <div class="radio__text">займ под маткапитал</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="4" />
                            <div class="radio__text">микрокредиты</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="4" />
                            <div class="radio__text">ипотечные кредиты</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="4" />
                            <div class="radio__text">прочее</div>
                        </label>
                    </div>
                    <div class="col-lg-5 col-12">
                        <p class="addKpk-page-subtitle sub">Какие виды кредитов вы выдаете?</p>
                        <p class="addKpk-page-subtitle">Если Вас интересует признак общности и Вы хотите работать в соответствии с базовым стандартом корпоративного управления</p>
                        <label class="radio">
                            <input type="radio" name="5" />
                            <div class="radio__text">cоциальная</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="5" />
                            <div class="radio__text">территориальная</div>
                        </label>
                        <label class="radio">
                            <input type="radio" name="5" />
                            <div class="radio__text">профессиональные</div>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-lg-1 col-lg-5 offset-0 col-12">
                        <p class="addKpk-page-subtitle sub">Информация о вашем КПК</p>
                        <input type="text" class="addkpk-input" placeholder="Год образования">
                        <input type="text" class="addkpk-input" placeholder="Количество филиалов">
                        <input type="text" class="addkpk-input" placeholder="Города, в которых открыты филиалы (через запятую)">
                    </div>
                    <div class="col-lg-5 col-12">
                        <p class="addKpk-page-subtitle sub">Ваш комментарий</p>
                        <textarea class="addkpk-input" name="name"></textarea>
                    </div>
                </div>
                <input type="submit" class="get-consult" value="Отправить заявку">
                <p class="form-warning">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с <a href="/policy">Политиками Конфиденциальности</a></p>
            </div>
        </form>
    </div>
</div>
