<div class="price-page header-pt pb112">
    <div class="container">
        <ul class="breadcrumbs-list">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Цены</a></li>
        </ul>
        <h2>Расценки на услуги</h2>
        <div class="price-page-content">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="row select-row">
                        <div class="col-xl-8 col-12">
                            <div class="select-price-wrp">
                                <p>Сфера практики:</p>
                                <div class="select-price">
                                    <select class="" name="">
                                        <option value="">Юридическая консультация по жилищным вопросам</option>
                                        <option value="">Юридическая консультация</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-12">
                            <p class="count-services">Показано: <span>7 услуг</span></p>
                        </div>
                    </div>
                    <div class="row title-line">
                        <div class="col-md-8 col-6"><p>Услуга</p></div>
                        <div class="col-md-4 col-6">Примерная стоимость</div>
                    </div>
                    <div class="row simple-line">
                        <div class="col-md-8 col-12">Вводная юридическая консультация по телефону</div>
                        <div class="col-md-4 col-12">Бесплатно</div>
                    </div>
                    <div class="row simple-line">
                        <div class="col-md-8 col-12">Юридическая консультация</div>
                        <div class="col-md-4 col-12">от 3 000 рублей</div>
                    </div>
                    <div class="row simple-line">
                        <div class="col-md-8 col-12">Разовые услуги</div>
                        <div class="col-md-4 col-12">от 5 000 рублей</div>
                    </div>
                    <div class="row simple-line">
                        <div class="col-md-8 col-12">Представление интересов клиента в суде</div>
                        <div class="col-md-4 col-12">от 10 000 рублей</div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 not-found-wrp">
                    <div class="not-found-block">
                        <img src="../../build/img/success2.jpg" alt="">
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                        <div>
                            <p class="not-found-block-title">Не нашли нужную услугу?</p>
                            <p class="not-found-block-text">Если Вы не нашли подходящую услугу, напишите Нам. Мы проконсультируем Вас</p>
                        </div>
                        <div class="btn-not-found">Задать вопрос</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
