<main>
    <section class="main-section">
        <div class="main-overlay">
            <img src="../../build/img/main.png" alt="">
        </div>
        <div class="main-screen">
            <div class="container">
                <div class="main-screen-content">
                    <h1>Безупречная юридическая помощь с&nbsp;1997 года</h1>
                    <div class="get-consult flex flex-center open-consult-pop-up-btn">
                        Получить консультацию
                    </div>
                </div>
            </div>
            <a href="#areas" class="scroll-next-block scrollTo">
                <p class="mouse-text">Scroll to explore</p>
                <img src="../../build/img/gavel.svg" alt="">
            </a>
        </div>
    </section>
    <section id="areas" class="areas">
        <div class="container">
            <div class="row">
                <div class="offset-lg-1 offset-0 col-lg-10 col-12">
                    <h2>Сферы практики</h2>
                    <div class="areas-block-wrp">
                        <a href="#" class="areas-block">
                            <span class="top"></span>
                            <span class="bottom"></span>
                            <img src="../../build/img/areas1.jpg" alt="">
                            <p>Анализ и консультирование по финансовым компаниям</p>
                        </a>
                        <a href="#" class="areas-block">
                            <span class="top"></span>
                            <span class="bottom"></span>
                            <img src="../../build/img/areas2.jpg" alt="">
                            <p>Анализ и&nbsp;консультирование&nbsp;КПК</p>
                        </a>
                        <a href="#" class="areas-block">
                            <span class="top"></span>
                            <span class="bottom"></span>
                            <img src="../../build/img/areas3.jpg" alt="">
                            <p>Консультации <br>при разводе</p>
                        </a>
                        <a href="#" class="areas-block">
                            <span class="top"></span>
                            <span class="bottom"></span>
                            <img src="../../build/img/areas4.jpg" alt="">
                            <p>Консультации <br>по наследственным делам</p>
                        </a>
                        <a href="#" class="areas-block">
                            <span class="top"></span>
                            <span class="bottom"></span>
                            <img src="../../build/img/areas5.jpg" alt="">
                            <p>Юридическая консультация по&nbsp;жилищным вопросам</p>
                        </a>
                        <a href="#" class="areas-block">
                            <span class="top"></span>
                            <span class="bottom"></span>
                            <img src="../../build/img/areas6.jpg" alt="">
                            <p>Консультация по&nbsp;трудовым вопросам</p>
                        </a>
                    </div>
                    <div class="btn-show-more-areas"><span>Еще 9 сфер деятельности</span></div>
                </div>
            </div>
        </div>
    </section>
    <section class="deal">
        <div class="container">
            <div class="row">
                <div class="offset-lg-1 offset-0"></div>
                <div class="col-lg-10 col-12">
                    <div class="row deal-main-text">
                        <div class="col-lg-3 col-md-6 col-12">
                            <h2>Ваши дела будут вести</h2>
                        </div>
                        <div class="col-lg-9 col-md-6 col-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="musje-wrp">
                                <div class="musje">
                                    <img src="../../build/img/musje1.jpg" alt="">
                                </div>
                                <div class="musje">
                                    <img src="../../build/img/musje2.jpg" alt="">
                                </div>
                                <div class="musje">
                                    <img src="../../build/img/musje3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 deal-text">
                            <h3>Подзаголовок или цитата на пару слов</h3>
                            <p><span>P</span>roin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            <a href="#" class="more-about-us">Подробнее о нас</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12"><h2>Наши успешные дела</h2></div>
                <div class="col-lg-6 col-12 flex-vertical flex-vertical-end"><a href="#" class="more-about-us">Все выигранные дела</a></div>
            </div>
            <div class="row success-block-wrp">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="success-block" data-bg="finanaliz">
                        <div class="success-line"></div>
                        <img src="../../build/img/success1.png" alt="">
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                        <div class="success-title">
                            <div class="success-title-img"></div>
                            <span>Анализ остальных фин компаний</span>
                        </div>
                        <p>Взыскали задолженность и процентов поставщиком угля с теплогенерирующей компании</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="success-block" data-bg="kpk">
                        <div class="success-line"></div>
                        <!-- <img src="../../build/img/success2.jpg" alt=""> -->
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                        <div class="success-title">
                            <div class="success-title-img"></div>
                            <span>Анализ КПК</span>
                        </div>
                        <p>Взыскали задолженность и процентов поставщиком угля с теплогенерирующей компании</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="success-block" data-bg="arbitration">
                        <div class="success-line"></div>
                        <!-- <img src="../../build/img/success2.jpg" alt=""> -->
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                        <div class="success-title">
                            <div class="success-title-img"></div>
                            <span>Арбитражные дела</span>
                        </div>
                        <p>Обращено взыскание на земельные участки должника</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="success-block" data-bg="criminal">
                        <div class="success-line"></div>
                        <!-- <img src="../../build/img/success1.png" alt=""> -->
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                        <div class="success-title">
                            <div class="success-title-img"></div>
                            <span>Уголовные дела</span>
                        </div>
                        <p>Обращено взыскание на земельные участки должника</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="reviews">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-12">
                    <div class="reviews-arrows-wrp">
                        <div class="reviews-arrow reviews-arrow-left">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                        <div class="reviews-arrow reviews-arrow-right">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-11 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-12"><h2>Отзывы клиентов</h2></div>
                        <div class="col-lg-6 col-12 flex-vertical flex-vertical-end"><a href="#" class="more-about-us">Все выигранные дела</a></div>
                    </div>
                    <div class="row">
                        <div class="col-12 reviews-slider-parent">
                            <div class="reviews-slider-wrp">
                                <div class="reviews-slider">
                                    <div>
                                        <div class="reviews-slide">
                                            <div class="reviews-slide-inner">
                                                <div>
                                                    <p class="title">Название компании</p>
                                                    <p class="data">16.03.2020</p>
                                                    <div class="text">
                                                        <p>Arcu, mi ipsum dolor, vitae mi enim, sit. Imperdiet lobortis bibendum dui et lectus viverra. Molestie orci feugiat ultrices magnis interdum nibh. Penatibus id turpis adipiscing nibh id vulputate. Tortor risus elit lorem arcu, pellentesque sem rhoncus sapien libero. Porttitor consequat tortor pretium venenatis, et aliquet magnis.</p>
                                                        <p>Morbi ultricies cursus purus vitae, nec diam tristique elit natoque...</p>
                                                    </div>
                                                </div>
                                                <a href="#" class="more-about-us">читать оригинал</a>
                                            </div>
                                            <div class="reviews-slide-outer">
                                                <img src="../../build/img/review1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="reviews-slide">
                                            <div class="reviews-slide-inner">
                                                <div>
                                                    <p class="title">Фамилия Имя Отчество</p>
                                                    <p class="data">16.03.2020</p>
                                                    <div class="text">
                                                        <p>Nisl orci, sapien arcu tincidunt massa velit ornare sed. Sodales eu vitae suspendisse nunc non in tellus egestas elementum. Nibh integer lacus, lacus velit. Morbi aenean cras ut in egestas eget hendrerit suspendisse.</p>
                                                    </div>
                                                </div>
                                                <a href="#" class="more-about-us">читать оригинал</a>
                                            </div>
                                            <div class="reviews-slide-outer">
                                                <img src="../../build/img/review1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="reviews-slide">
                                            <div class="reviews-slide-inner">
                                                <div>
                                                    <p class="title">Название компании</p>
                                                    <p class="data">16.03.2020</p>
                                                    <div class="text">
                                                        <p>Arcu, mi ipsum dolor, vitae mi enim, sit. Imperdiet lobortis bibendum dui et lectus viverra. Molestie orci feugiat ultrices magnis interdum nibh. Penatibus id turpis adipiscing nibh id vulputate. Tortor risus elit lorem arcu, pellentesque sem rhoncus sapien libero. Porttitor consequat tortor pretium venenatis, et aliquet magnis.</p>
                                                        <p>Morbi ultricies cursus purus vitae, nec diam tristique elit natoque...</p>
                                                    </div>
                                                </div>
                                                <a href="#" class="more-about-us">читать оригинал</a>
                                            </div>
                                            <div class="reviews-slide-outer">
                                                <img src="../../build/img/review1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="reviews-slide">
                                            <div class="reviews-slide-inner">
                                                <div>
                                                    <p class="title">Фамилия Имя Отчество</p>
                                                    <p class="data">16.03.2020</p>
                                                    <div class="text">
                                                        <p>Nisl orci, sapien arcu tincidunt massa velit ornare sed. Sodales eu vitae suspendisse nunc non in tellus egestas elementum. Nibh integer lacus, lacus velit. Morbi aenean cras ut in egestas eget hendrerit suspendisse.</p>
                                                    </div>
                                                </div>
                                                <a href="#" class="more-about-us">читать оригинал</a>
                                            </div>
                                            <div class="reviews-slide-outer">
                                                <img src="../../build/img/review1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="reviews-slide">
                                            <div class="reviews-slide-inner">
                                                <div>
                                                    <p class="title">Название компании</p>
                                                    <p class="data">16.03.2020</p>
                                                    <div class="text">
                                                        <p>Arcu, mi ipsum dolor, vitae mi enim, sit. Imperdiet lobortis bibendum dui et lectus viverra. Molestie orci feugiat ultrices magnis interdum nibh. Penatibus id turpis adipiscing nibh id vulputate. Tortor risus elit lorem arcu, pellentesque sem rhoncus sapien libero. Porttitor consequat tortor pretium venenatis, et aliquet magnis.</p>
                                                        <p>Morbi ultricies cursus purus vitae, nec diam tristique elit natoque...</p>
                                                    </div>
                                                </div>
                                                <a href="#" class="more-about-us">читать оригинал</a>
                                            </div>
                                            <div class="reviews-slide-outer">
                                                <img src="../../build/img/review1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="reviews-slide">
                                            <div class="reviews-slide-inner">
                                                <div>
                                                    <p class="title">Фамилия Имя Отчество</p>
                                                    <p class="data">16.03.2020</p>
                                                    <div class="text">
                                                        <p>Nisl orci, sapien arcu tincidunt massa velit ornare sed. Sodales eu vitae suspendisse nunc non in tellus egestas elementum. Nibh integer lacus, lacus velit. Morbi aenean cras ut in egestas eget hendrerit suspendisse.</p>
                                                    </div>
                                                </div>
                                                <a href="#" class="more-about-us">читать оригинал</a>
                                            </div>
                                            <div class="reviews-slide-outer">
                                                <img src="../../build/img/review1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="useful">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12"><h2>Полезные материалы для Вас</h2></div>
                <div class="col-lg-6 col-12 flex-vertical flex-vertical-end"><a href="#" class="more-about-us">больше статей</a></div>
            </div>
            <div class="row useful-wrp">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="useful-block">
                        <div class="success-line"></div>
                        <img src="../../build/img/useful1.jpg">
                        <div class="overlay-grad"></div>
                        <div class="success-block-btn">Документы</div>
                        <p class="useful-title">Договор строительного подряда</p>
                        <p class="data">16.03.2020</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="useful-block">
                        <div class="success-line"></div>
                        <img src="../../build/img/useful2.jpg">
                        <div class="overlay-grad"></div>
                        <div class="success-block-btn">Полезное</div>
                        <p class="useful-title">Срок договора подряда</p>
                        <p class="data">16.03.2020</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="useful-block">
                        <div class="success-line"></div>
                        <img src="../../build/img/useful3.jpg">
                        <div class="overlay-grad"></div>
                        <div class="success-block-btn">Документы</div>
                        <p class="useful-title">Односторонний отказ от договора подряда</p>
                        <p class="data">16.03.2020</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="useful-block">
                        <div class="success-line"></div>
                        <img src="../../build/img/useful4.jpg">
                        <div class="overlay-grad"></div>
                        <div class="success-block-btn">Полезное</div>
                        <p class="useful-title">Срок договора подряда</p>
                        <p class="data">16.03.2020</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="form-section">
        <div class="container">
            <div class="form-plashka">
                <h2>Есть вопросы? Получить консультацию</h2>
                <img src="../../build/img/form.jpg">
                <div class="overlay-solid"></div>
                <div class="overlay-grad"></div>
                <form action="#">
                    <div class="main-form-wrp">
                        <input type="text" name="" value="" placeholder="Имя" required="">
                        <input type="email" name="" value="" placeholder="E-mail">
                        <input type="tel" class="mask-phone" name="" value="" placeholder="Телефон" required="">
                    </div>
                    <input class="input-textarea" type="text" name="" value="" placeholder="Ваш вопрос">
                    <input type="submit" class="get-consult" value="Получить консультацию">
                    <p class="form-warning">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с <a href="/policy">Политиками Конфиденциальности</a></p>
                </form>
            </div>
        </div>
    </section>
</main>
