<div class="article-page">
    <div class="article-page-plashka"></div>
    <div class="container">
        <div class="row article-page-row">
            <div class="col-md-6 col-12">
                <div class="articles-img-wrapper">
                    <div class="article-page-plashka-mob"></div>
                    <div class="article-img">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-data">
                            <p>30</p>
                            <p>03.20</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-12">
                <div class="article-prev">
                    <a href="#" class="back">Все дела</a>
                    <h2>Договор строительного подряда</h2>
                    <div class="articles-plashka">Документы</div>
                    <p class="article-prev-text">Договоры подряда относятся к числу самых распространённых типов контракта. Они нашли применение в самых разных экономических сферах. Но есть область экономики, где этот тип договоров особенно популярен – строительная.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="article-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1 offset-0">
                    <article>
                        <h3>Договор строительного подряда</h3>
                        <p>Договоры подряда относятся к числу самых распространённых типов контракта. Они нашли применение в самых разных экономических сферах. Но есть область экономики, где этот тип договоров особенно популярен – строительная. Работы в этой сфере практически всегда строятся на отношениях подряда, в связи с чем возникла необходимость особо тщательной проработки законодательных нюансов договорного оформления этих отношений. Ряд особенностей, которые характерны для взаимодействия заказчика и исполнителя в строительстве, также способствовали выделению договора строительного подряда как особого вида контрактов.</p>
                        <p>С помощью этого договора оформляется сделка между партнёрами, согласно которой подрядчик обязуется в определённые сроки построить объект по заданию заказчика или произвести смежные строительные работы. По этому же договору лицо, выступающее заказчиком, обязуется оплатить результат согласно установленной в соглашении цене, а также обеспечить подрядчику условия, требуемые для проведения работ.</p>
                        <blockquote>
                            Ключевой особенностью договоров строительного подряда является возможность привлечения профессионального инженера (инженерной организации). В этом случае необходимо оформление дополнительного договора поручения.
                            <span>Носков Игорь Юриевич</span>
                            <span>Адвокат, Кандидат юридических наук</span>
                        </blockquote>
                        <p>В строительстве, из-за большого объёма, зачастую часть задач подрядчик делегирует другим лицам – субподрядчикам. В этом случае генеральным подрядчиком также заключается договор подряда, но при согласии заказчика.</p>
                        <div class="vstavka">
                            <p><span>Вставка</span></p>
                            <p>Ключевой особенностью договоров строительного подряда является возможность привлечения профессионального инженера (инженерной организации). В этом случае необходимо оформление дополнительного договора поручения.</p>
                        </div>
                        <p>Понятие договора строительного подряда зафиксировано в п. 1 ст. 740 Гражданского Кодекса Российской Федерации. Возможность привлечения к строительным работам инженера (инженерной организации) оговорено в ст. 749 ГК РФ. В целом выполнение работ в строительстве регулируется общими положениями о подряде, установленным гл. 37 ГК РФ. Если у сторон договора возникли разногласия, которые невозможно разрешить в мирном порядке, спор передаётся в арбитражный суд.</p>
                        <img class="alignright" src="../../build/img/article.png" alt="">
                        <p>Если заказчиком выступает частное лицо, применяются нормы, определяющие взаимоотношения сторон при заключении бытовых договоров подряда, то есть <a href="#">п. 3 ст. 740 ГК РФ и Закона о защите прав потребителей</a>. Соответственно, при возникновении споров вокруг бытового контракта их решает мировой суд.</p>
                        <p>Так же бывают случаи, когда в качестве заказчика выступает публично-правовое образование, и в этом случае взаимоотношения сторон характеризуются в качестве подрядного договора для государственных или муниципальных нужд.</p>
                        <p>Правовую базу при заключении подрядных договоров в строительстве дополняют строительные нормы и правил – СНИПы, следование которым обязательно, и стандарты и технические условия на материалы, детали, конструкции, использующиеся при выполнении работ. Это связано с тем, что от качества строительства зависит безопасность людей, поэтому требуется специальное регулирование данной сферы.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="article-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1 offset-0">
                    <div class="form-plashka">
                        <h2>Получить консультацию</h2>
                        <img src="../../build/img/form2.jpg">
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                        <form action="#">
                            <div class="main-form-wrp">
                                <input type="text" name="" value="" placeholder="Имя" required="">
                                <input type="email" name="" value="" placeholder="E-mail">
                                <input type="tel" class="mask-phone" name="" value="" placeholder="Телефон" required="">
                            </div>
                            <input class="input-textarea" type="text" name="" value="" placeholder="Ваш вопрос">
                            <input type="submit" class="get-consult" value="Получить консультацию">
                            <p class="form-warning">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с <a href="/policy">Политиками Конфиденциальности</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="other-articles">
        <div class="container">
            <h2>Еще статьи по теме</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles1.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Документы</div>
                            <p class="article-block-prev-name">Договор строительного подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles2.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Полезное</div>
                            <p class="article-block-prev-name">Срок договора подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles3.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Документы</div>
                            <p class="article-block-prev-name">Односторонний отказ от договора подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles4.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Полезное</div>
                            <p class="article-block-prev-name">Срок договора подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
