<div class="case-page pb112">
    <div class="container">
        <div class="row case-page-top">
            <div class="offset-lg-1 col-lg-4 offset-0 col-md-6 col-12">
                <div class="case-main-img-wrp">
                    <div class="case-main-img">
                        <img src="../../build/img/case1.jpg" alt="">
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                    </div>
                    <a href="#docBlock" class="case-main-block-plashka scrollToMinusHeader">
                        <p>Документы по делу</p>
                        <i class="fas fa-arrow-down"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-12 case-text-side" data-bg="finanaliz">
                <a href="#" class="back">Все дела</a>
                <h2>Взыскание алиментов (мировой судья, с/у № 381, район Красносельский, г. Москва). Результат работы юристов МЦПИ "Планета закона"</h2>
                <div class="success-title">
                    <div class="success-title-img"></div>
                    <span>Анализ остальных фин компаний</span>
                </div>
                <p>В 2016 году к нам обратилась гражданка С. с просьбой помочь оформить развод через суд и добиться от бывшего мужа выплаты алиментов на несовершеннолетнего сына. Юристом «Планеты закона» было составлено заявление на развод через суд, в котором были учтены интересы ребенка.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-1 col-lg-10 offset-0 col-12">
                <h3>Данные по делу</h3>
                <p>На очной консультации был разъяснен порядок расторжения брака, после чего гражданка С. приняла решение воспользоваться нашей специальной компанией «Алименты? – Элементарно» и заключила по ней договор.</p>
                <p>По условиям договора, гражданка С. могла не приходить на развод в судебный участок № 381 Красносельского района города Москвы, где слушалось дело. Её интересы представляли юристы и адвокаты «Планеты Закона».На судебном заседании суд выявил, что зарегистрированный с гражданином Х. брак, подлежит расторжению. Таким образом, при расторжении брака суд встал на сторону нашей клиентки. Руководствуясь статьями 194-199 ГПК РФ, мировой судья Каракешишева Е. Н. при секретаре Федосниковой О. А. вынесла следующее решение: обязать гражданина Х. выплачивать ежемесячно сумму в 65 990 рублей на содержание несовершеннолетнего сына. Такая сумма соответствует пятикратной величине прожиточного минимума по Москве. Алименты должны начать выплачиваться немедленно, вплоть до совершеннолетия ребенка.</p>
                <p>Работа нашего юриста позволила гражданке С. уже через два месяца после обращения в «Планету Закона» получить положительное решение суда с назначением достаточной для содержания ребенка размера алиментов. Наша клиентка сберегла свои нервы и время, поскольку могла не присутствовать на судебном заседании.</p>
                <p>Необходима помощь в составлении заявления на развод через суд? Обращайтесь в «Планету Закона»! Мы поможем с оформлением документов на развод не только в Красносельском, но и в любом другом районе города Москвы. Звоните: + 7 (495) 722-99-33! Круглосуточно! Без выходных.</p>
            </div>
        </div>
        <div id="docBlock" class="row case-page-bottom case-doc-wrp">
            <div class="offset-lg-1 offset-0 col-lg-10 col-12">
                <h3>Документы по делу</h3>
                <div class="case-doc-block-wrp">
                    <a href="../../build/img/case1.jpg" class="case-doc-block" target="_blank">
                        <div class="case-doc-block-img">
                            <img src="../../build/img/case1.jpg" alt="">
                        </div>
                        <p>Решение суда</p>
                        <div class="case-doc-block-plashka">PNG</div>
                    </a>
                    <a href="../../build/img/case1.jpg" class="case-doc-block" target="_blank">
                        <div class="case-doc-block-img">
                            <img src="../../build/img/case1.jpg" alt="">
                        </div>
                        <p>Решение суда</p>
                        <div class="case-doc-block-plashka">PNG</div>
                    </a>
                    <a href="../../build/img/case1.jpg" class="case-doc-block" target="_blank">
                        <div class="case-doc-block-img">
                            <img src="../../build/img/case1.jpg" alt="">
                        </div>
                        <p>Решение суда</p>
                        <div class="case-doc-block-plashka">PNG</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="case-plashka">
        <img src="../../build/img/form.jpg">
        <div class="overlay-solid"></div>
        <div class="overlay-grad"></div>
        <div class="container">
            <div class="form-plashka">
                <h2>Есть вопросы? Получить консультацию</h2>
                <form action="#">
                    <div class="main-form-wrp">
                        <input type="text" name="" value="" placeholder="Имя" required="">
                        <input type="email" name="" value="" placeholder="E-mail">
                        <input type="tel" class="mask-phone" name="" value="" placeholder="Телефон" required="">
                    </div>
                    <input class="input-textarea" type="text" name="" value="" placeholder="Ваш вопрос">
                    <input type="submit" class="get-consult" value="Получить консультацию">
                    <p class="form-warning">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с <a href="/policy">Политиками Конфиденциальности</a></p>
                </form>
            </div>
        </div>
    </section>
    <section class="case-other">
        <div class="container">
            <h2>Еще успешные дела по теме</h2>
            <div class="row success-block-wrp">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="success-block" data-bg="finanaliz">
                        <div class="success-line"></div>
                        <img src="../../build/img/success1.png" alt="">
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                        <div class="success-title">
                            <div class="success-title-img"></div>
                            <span>Анализ остальных фин компаний</span>
                        </div>
                        <p>Взыскали задолженность и процентов поставщиком угля с теплогенерирующей компании</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="success-block" data-bg="kpk">
                        <div class="success-line"></div>
                        <!-- <img src="../../build/img/success2.jpg" alt=""> -->
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                        <div class="success-title">
                            <div class="success-title-img"></div>
                            <span>Анализ КПК</span>
                        </div>
                        <p>Взыскали задолженность и процентов поставщиком угля с теплогенерирующей компании</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="success-block" data-bg="arbitration">
                        <div class="success-line"></div>
                        <!-- <img src="../../build/img/success2.jpg" alt=""> -->
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                        <div class="success-title">
                            <div class="success-title-img"></div>
                            <span>Арбитражные дела</span>
                        </div>
                        <p>Обращено взыскание на земельные участки должника</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="success-block" data-bg="criminal">
                        <div class="success-line"></div>
                        <!-- <img src="../../build/img/success1.png" alt=""> -->
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                        <div class="success-title">
                            <div class="success-title-img"></div>
                            <span>Уголовные дела</span>
                        </div>
                        <p>Обращено взыскание на земельные участки должника</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
