<div class="articles-page header-pt">
    <div class="container">
        <ul class="breadcrumbs-list">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Блог</a></li>
        </ul>
        <h2>Полезные статьи и новости</h2>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="articles-img-wrapper">
                    <div class="articles-img">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles.jpg" alt="">
                        <div class="articles-overlay"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="articles-prev">
                    <p class="articles-data">16.03.2020</p>
                    <h3>Договор строительного подряда</h3>
                    <div class="articles-plashka">Документы</div>
                    <p class="articles-prev-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <a href="#" class="more-about-us">Читать далее</a>
                </div>
            </div>
        </div>
    </div>
    <div class="all-articles pb112">
        <div class="container">
            <h2>Все статьи</h2>
            <ul class="success-filtres">
                <li class="active">
                    <span>Все</span>
                    <span>12</span>
                </li>
                <li>
                    <span>Тема первая</span>
                    <span>8</span>
                </li>
                <li>
                    <span>Тема вторая</span>
                    <span>0</span>
                </li>
                <li>
                    <span>Тема третья</span>
                    <span>12</span>
                </li>
                <li>
                    <span>Тема четвертая</span>
                    <span>243</span>
                </li>
            </ul>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles1.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Документы</div>
                            <p class="article-block-prev-name">Договор строительного подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles2.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Полезное</div>
                            <p class="article-block-prev-name">Срок договора подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles3.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Документы</div>
                            <p class="article-block-prev-name">Односторонний отказ от договора подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles4.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Полезное</div>
                            <p class="article-block-prev-name">Срок договора подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles5.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Документы</div>
                            <p class="article-block-prev-name">Договор строительного подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles6.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Полезное</div>
                            <p class="article-block-prev-name">Срок договора подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles7.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Документы</div>
                            <p class="article-block-prev-name">Односторонний отказ от договора подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="article-block-prev">
                        <div class="success-line"></div>
                        <img src="../../build/img/articles8.jpg" alt="">
                        <div class="articles-overlay"></div>
                        <div class="article-block-prev-text">
                            <div class="articles-plashka">Полезное</div>
                            <p class="article-block-prev-name">Срок договора подряда</p>
                            <p class="articles-data">16.03.2020</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagination-container-articles"></div>
        </div>
    </div>
</div>
