<div class="success-page header-pt pb112">
    <div class="container">
        <ul class="breadcrumbs-list">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Портфолио</a></li>
        </ul>
        <h2>Наши успешные дела</h2>
        <div class="success-page-content">
            <ul class="success-filtres">
                <li class="active">
                    <span>Все</span>
                    <span>12</span>
                </li>
                <li>
                    <span>Анализ остальных фин компаний</span>
                    <span>8</span>
                </li>
                <li>
                    <span>Анализ КПК</span>
                    <span>1</span>
                </li>
                <li>
                    <span>Уголовные дела</span>
                    <span>1</span>
                </li>
                <li>
                    <span>Арбитражные дела</span>
                    <span>1</span>
                </li>
                <li>
                    <span>Административные дела</span>
                    <span>1</span>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="finanaliz">
                    <div class="success-line"></div>
                    <img src="../../build/img/success1.png" alt="">
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Анализ остальных фин компаний</span>
                    </div>
                    <p>Взыскали задолженность и процентов поставщиком угля с теплогенерирующей компании</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="kpk">
                    <div class="success-line"></div>
                    <!-- <img src="../../build/img/success2.jpg" alt=""> -->
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Анализ КПК</span>
                    </div>
                    <p>Взыскали задолженность и процентов поставщиком угля с теплогенерирующей компании</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="arbitration">
                    <div class="success-line"></div>
                    <!-- <img src="../../build/img/success2.jpg" alt=""> -->
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Арбитражные дела</span>
                    </div>
                    <p>Обращено взыскание на земельные участки должника</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="criminal">
                    <div class="success-line"></div>
                    <!-- <img src="../../build/img/success1.png" alt=""> -->
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Уголовные дела</span>
                    </div>
                    <p>Обращено взыскание на земельные участки должника</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="administrative">
                    <div class="success-line"></div>
                    <img src="../../build/img/success1.png" alt="">
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Административные дела</span>
                    </div>
                    <p>Обращено взыскание на земельные участки должника</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="finanaliz">
                    <div class="success-line"></div>
                    <!-- <img src="../../build/img/success1.png" alt=""> -->
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Анализ остальных фин компаний</span>
                    </div>
                    <p>Взыскали задолженность и процентов поставщиком угля с теплогенерирующей компании</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="kpk">
                    <div class="success-line"></div>
                    <img src="../../build/img/success2.jpg" alt="">
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Анализ КПК</span>
                    </div>
                    <p>Взыскали задолженность и процентов поставщиком угля с теплогенерирующей компании</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="arbitration">
                    <div class="success-line"></div>
                    <!-- <img src="../../build/img/success2.jpg" alt=""> -->
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Арбитражные дела</span>
                    </div>
                    <p>Обращено взыскание на земельные участки должника</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="criminal">
                    <div class="success-line"></div>
                    <!-- <img src="../../build/img/success1.png" alt=""> -->
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Уголовные дела</span>
                    </div>
                    <p>Обращено взыскание на земельные участки должника</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="administrative">
                    <div class="success-line"></div>
                    <img src="../../build/img/success1.png" alt="">
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Административные дела</span>
                    </div>
                    <p>Обращено взыскание на земельные участки должника</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="criminal">
                    <div class="success-line"></div>
                    <!-- <img src="../../build/img/success1.png" alt=""> -->
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Уголовные дела</span>
                    </div>
                    <p>Обращено взыскание на земельные участки должника</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="success-block" data-bg="administrative">
                    <div class="success-line"></div>
                    <img src="../../build/img/success1.png" alt="">
                    <div class="overlay-solid"></div>
                    <div class="overlay-grad"></div>
                    <div class="success-title">
                        <div class="success-title-img"></div>
                        <span>Административные дела</span>
                    </div>
                    <p>Обращено взыскание на земельные участки должника</p>
                </div>
            </div>
        </div>
        <div id="pagination-container-success"></div>
    </div>
</div>
