@import "reset";
@import "variables";
@import "custom";
@import "header/header";
@import "footer/footer";
@import "menu/menu";
@import "main/main";
@import "success/success";
@import "faq/faq";
@import "case/case";
@import "price/price";
@import "reviews/reviews";
@import "services/services";
@import "servicesOne/servicesOne";
@import "kpk/kpk";
@import "about/about";
@import "article/article";
// @import "policy/policy";
// @import "sss/sss";

// @import "popup/popup";








body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $text;
    line-height: 20px;
    &.compensate-for-scrollbar {
        padding-right: 17px;
        header.header-scrolled {
            padding-right: 17px;
        }
    }
}
body.active {
    height: 100%;
    overflow: hidden;
    position: fixed;
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    .pages-wrapper, .header-wrapper, .menu-wrapper {
        position: relative;
        width: 100%;
    }
    .header-wrapper {
        z-index: 4;
    }
    .pages-wrapper {
        z-index: 3;
        flex: 1;
    }
}
@media (min-width: 1366px) {
    .container {
        max-width: 1150px;
    }
}


@import "media/media";
