<div class="faq-page header-pt pb112">
    <div class="container">
        <ul class="breadcrumbs-list">
            <li><a href="/">Главная</a></li>
            <li><a href="#">F.A.Q.</a></li>
        </ul>
        <h2>F.A.Q.</h2>
        <div class="faq-page-content">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="faq-filtres-wrp">
                        <ul class="faq-filtres cutFiltres">
                            <li class="active">
                                <span>Все</span>
                                <span>12</span>
                            </li>
                            <li>
                                <span>Анализ остальных фин компаний</span>
                                <span>8</span>
                            </li>
                            <li>
                                <span>Анализ и консультирование по фин компаниям</span>
                                <span>1</span>
                            </li>
                            <li>
                                <span>Уголовные дела</span>
                                <span>1</span>
                            </li>
                            <li>
                                <span>Арбитражные дела</span>
                                <span>1</span>
                            </li>
                            <li>
                                <span>Административные дела</span>
                                <span>1</span>
                            </li>
                        </ul>
                        <div class="fag-overlay"></div>
                        <div class="more-filtres-btn">еще 9</div>
                    </div>
                    <select class="faq-filtres-mob" >
                        <option value="1"><span>Все</span>
                        <span>12</span></option>
                        <option value="2"><span>Анализ остальных фин компаний</span>
                        <span>8</span></option>
                        <option value="3"><span>Анализ и консультирование по фин компаниям</span>
                        <span>1</span></option>
                        <option value="4"><span>Арбитражные дела</span>
                        <span>1</span></option>
                        <option value="5"><span>Административные дела</span>
                        <span>1</span></option>
                    </select>
                    <div class="fag-wrp-faq">
                        <div id="accordion">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <span>Q:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </button>
                              </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                              <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingTwo">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  <span>Q:</span> Collapsible Group Item #2
                                </button>
                              </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                              <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingThree">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  <span>Q:</span> Collapsible Group Item #3
                                </button>
                              </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                              <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="not-found-block">
                        <img src="../../build/img/success2.jpg" alt="">
                        <div class="overlay-solid"></div>
                        <div class="overlay-grad"></div>
                        <div>
                            <p class="not-found-block-title">Не нашли ответ на свой вопрос?</p>
                            <p class="not-found-block-text">Задайте его нашим специалистам</p>
                        </div>
                        <div class="btn-not-found">Задать вопрос</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
