<div class="page-contacts header-pt">
    <div class="pt56">
        <div class="container contact-info-content">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h2>Контакты</h2>
                    <div class="row">
                        <div class="col-xl-4 col-12">
                            <a href="tel:0933005256" class="contact-link contact-phone">093 300 52 56</a>
                            <a href="tel:0933005256" class="contact-link">093 300 52 56</a>
                        </div>
                        <div class="col-xl-8 col-12">
                            <a href="mailto:info@stroim-mir.ua" class="contact-link contact-mail">info@stroim-mir.ua</a>
                            <p class="contact-link contact-map-icon">г. Киев, ул. Будиндустрии, 4</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="contact-block">
                        <form action="#">
                            <h3>Свяжитесь с нами</h3>
                            <p class="contact-text">Заполните форму и с Вами свяжется менеджер через 30&nbsp;минут  для формирования заказа</p>
                            <div class="inputs-order-wrp">
                                <input type="text" name="" value="" placeholder="Ваше имя" required>
                                <input class="mask-phone" type="tel" name="" value="" placeholder="Ваш телефон" required>
                            </div>
                            <input class="contact-block-input" type="text" name="" value="" placeholder="Ваш вопрос">
                            <p class="warning">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с <a href="/policy">Политиками Конфиденциальности</a></p>
                            <input class="contact-btn" type="submit" name="" value="Отправить">
                        </form>
                    </div>
                </div>
            </div>



        </div>
        <div id="contact-map"></div>
    </div>
</div>
