<div class="kpk-page pb112">
    <div class="kpk-start">
        <img src="../../build/img/kpk-page.jpg" alt="">
        <div class="container">
            <a href="#" class="back">Рейтинг</a>
            <h2>КПК Импульс</h2>
            <div class="kpk-btns-wrp flex-vertical">
                <div class="kpk-btn1">Уточнить ставку по&nbsp;кредитам и&nbsp;вложениям</div>
                <div class="kpk-btn2">Написать отзыв</div>
            </div>

        </div>
    </div>
    <div class="kpk-page-content">
        <div class="container">
            <div class="kpk-card">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <img src="../../build/img/kpk-logo.png" alt="">
                        <h3>КПК Импульс</h3>
                        <div class="kpk-star">
                            <img src="../../build/img/star.svg" alt="">
                            <span>3.5</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Контакты</p>
                        <p class="kpk-value">Москва, Цветной бульвар д.26 стр.1 Деловой центр "Цветной 26" офис 27А м. Цветной бульвар</p>
                        <ul class="kpk-value">
                            <li>
                                <a href="tel:8 (499)444-02-21">8 (499)444-02-21</a>
                            </li>
                            <li>
                                <a href="http://www.impulsfinans.ru">www.impulsfinans.ru</a>
                            </li>
                            <li>
                                <a href="mailto:info@impulsfinans.ru">info@impulsfinans.ru</a> (Москва)
                            </li>
                            <li>
                                <a href="mailto:spb@kpkimpuls.ru">spb@kpkimpuls.ru</a> (Санкт-Петербург)
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">О кооперативе</p>
                        <p class="kpk-value">Входит в СРО Союз Саморегулируемых организаций «Национальное объединение кредитных кооперативов»</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Председатель</p>
                        <p class="kpk-value">АБРАМЯН ГЕОРГИЙ АНДРЕЕВИЧ</p>
                        <div class="flex-vertical middle">
                            <p class="kpk-property">Дата регистрации:</p>
                            <p class="kpk-value">07.09.2015</p>
                        </div>
                        <div class="flex-vertical">
                            <p class="kpk-property">Отзывы:</p>
                            <img class="point good" src="../../build/img/good.svg" alt="">
                            <span>102</span>
                            <img class="point bad" src="../../build/img/bad.svg" alt="">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basic-information">
                <h3>Основные сведения</h3>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Полное наименование</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>Кредитный Потребительский Кооператив "Импульс"</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Дата образования</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>7 сентября 2015 (более 3 лет назад)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Статус</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>По данным ЕГРЮЛ является действующей организацией</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Филиалы</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>Данные о наличии филиалов в ЕГРЮЛ не найдены</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>ИНН</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>9717000360</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>КПП</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>771701001</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>ОГРН</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>1157746824047</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Основной вид деятельности</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>Деятельность по предоставлению консультационных услуг по вопросам финансового посредничества</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Юридический адрес</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>129164, г Москва, ул Ярославская, 8 / корп 4, этаж/офис 2/202</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Выручка за 2017 год</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>0 руб</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Баланс за 2017 год</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>59,8 млн руб</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Председатель Правления</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>Абрамян Георгий Андреевич. Впервые упоминается в сведениях о компании 20 декабря 2018 Является учредителем организации</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
