<div class="kpk-page pb112">
    <div class="kpk-start">
        <img src="../../build/img/kpk-page.jpg" alt="">
        <div class="container">
            <a href="#" class="back">Рейтинг</a>
            <h2>КПК Импульс</h2>
            <div class="kpk-btns-wrp flex-vertical">
                <div class="kpk-btn1 open-rate-pop-up-btn">Уточнить ставку по&nbsp;кредитам и&nbsp;вложениям</div>
                <div class="kpk-btn2 open-review-pop-up-btn">Написать отзыв</div>
            </div>

        </div>
    </div>
    <div class="kpk-page-content">
        <div class="container">
            <div class="kpk-card">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <img src="../../build/img/kpk-logo.png" alt="">
                        <h3>КПК Импульс</h3>
                        <div class="kpk-star">
                            <img src="../../build/img/star.svg" alt="">
                            <span>3.5</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Контакты</p>
                        <p class="kpk-value">Москва, Цветной бульвар д.26 стр.1 Деловой центр "Цветной 26" офис 27А м. Цветной бульвар</p>
                        <ul class="kpk-value">
                            <li>
                                <a href="tel:8 (499)444-02-21">8 (499)444-02-21</a>
                            </li>
                            <li>
                                <a href="http://www.impulsfinans.ru">www.impulsfinans.ru</a>
                            </li>
                            <li>
                                <a href="mailto:info@impulsfinans.ru">info@impulsfinans.ru</a> (Москва)
                            </li>
                            <li>
                                <a href="mailto:spb@kpkimpuls.ru">spb@kpkimpuls.ru</a> (Санкт-Петербург)
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">О кооперативе</p>
                        <p class="kpk-value">Входит в СРО Союз Саморегулируемых организаций «Национальное объединение кредитных кооперативов»</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p class="kpk-property">Председатель</p>
                        <p class="kpk-value">АБРАМЯН ГЕОРГИЙ АНДРЕЕВИЧ</p>
                        <div class="flex-vertical middle">
                            <p class="kpk-property">Дата регистрации:</p>
                            <p class="kpk-value">07.09.2015</p>
                        </div>
                        <div class="flex-vertical">
                            <p class="kpk-property">Отзывы:</p>
                            <img class="point good" src="../../build/img/good.svg" alt="">
                            <span>102</span>
                            <img class="point bad" src="../../build/img/bad.svg" alt="">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basic-information">
                <h3>Основные сведения</h3>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Полное наименование</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>Кредитный Потребительский Кооператив "Импульс"</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Дата образования</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>7 сентября 2015 (более 3 лет назад)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Статус</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>По данным ЕГРЮЛ является действующей организацией</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Филиалы</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>Данные о наличии филиалов в ЕГРЮЛ не найдены</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>ИНН</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>9717000360</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>КПП</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>771701001</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>ОГРН</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>1157746824047</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Основной вид деятельности</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>Деятельность по предоставлению консультационных услуг по вопросам финансового посредничества</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Юридический адрес</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>129164, г Москва, ул Ярославская, 8 / корп 4, этаж/офис 2/202</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Выручка за 2017 год</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>0 руб</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Баланс за 2017 год</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>59,8 млн руб</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <p>Председатель Правления</p>
                    </div>
                    <div class="col-lg-9 col-md-7 col-12">
                        <p>Абрамян Георгий Андреевич. Впервые упоминается в сведениях о компании 20 декабря 2018 Является учредителем организации</p>
                    </div>
                </div>
            </div>
            <section class="detailed-information">
                <h3>Подробная информация</h3>
                <ul class="detailed-information-list">
                    <li>
                        <div class="img-info">
                            <img src="../../build/img/info.svg" alt="">
                        </div>
                        <div>
                            <p><b>Признаков процедуры банкротства не обнаружено</b></p>
                            <p>В Едином федеральном реестре сведений о банкротстве не найдено сообщений о банкротстве организации, учредителей.</p>
                        </div>
                    </li>
                    <li>
                        <div class="img-info">
                            <img src="../../build/img/info.svg" alt="">
                        </div>
                        <div>
                            <p><b>Признаков номинальности не выявлено</b></p>
                            <p>Компания была автоматически проверена на предмет сходства с организациями, руководители или учредители которых являются номинальными и не имеют намерения вести хозяйственную деятельность: сходства не обнаружено.</p>
                        </div>
                    </li>
                    <li>
                        <div class="img-info">
                            <img src="../../build/img/info.svg" alt="">
                        </div>
                        <div>
                            <p>Проведена проверка информации о наличии арбитражных дел за последние 12 месяцев</p>
                            <p><b>Арбитражные дела в качестве ответчика отсутствуют.</b></p>
                            <p><b>Арбитражных дел, связанных с банкротством, не найдено.</b></p>
                        </div>
                    </li>
                    <li>
                        <div class="img-info">
                            <img src="../../build/img/info.svg" alt="">
                        </div>
                        <div>
                            <p>Проведена проверка информации о наличии исполнительных производств в отношении организации</p>
                            <p><b>В картотеке Федеральной службы судебных приставов исполнительных производств не найдено.</b></p>
                        </div>
                    </li>
                    <li>
                        <div class="img-info">
                            <img src="../../build/img/info.svg" alt="">
                        </div>
                        <div>
                            <p>Проанализирована бухгалтерская отчетность организации</p>
                            <p>Последний год, за который имеются данные отчетности — 2017. По состоянию на 1 января 2018:</p>
                            <p><b>Чистые активы имеют положительную величину 5,8 млн руб.</b></p>
                        </div>
                    </li>
                    <li>
                        <div class="img-info">
                            <img src="../../build/img/info.svg" alt="">
                        </div>
                        <div>
                            <p><b>Упоминаний в следующих особых реестрах не найдено:</b></p>
                            <ul class="detailed-information-sublist">
                                <li>Недостоверность регистрационных сведений</li>
                                <li>Организации, не предоставляющие отчетность в течение года — Недобросовестные поставщики</li>
                                <li>Дисквалифицированные лица</li>
                                <li>Массовые руководители или учредители</li>
                                <li>Организации, имеющие задолженность по уплате налогов</li>
                                <li>Массовый юридический адрес</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="img-info">
                            <img src="../../build/img/info.svg" alt="">
                        </div>
                        <div>
                            <p>Организация не инициировала арбитражные производства, не участвовала в госзакупках, не получала лицензий, не заключала договоры залога движимого имущества. Наличие указанных признаков активности не является обязательным</p>
                        </div>
                    </li>
                    <li>
                        <div class="img-info">
                            <img src="../../build/img/info.svg" alt="">
                        </div>
                        <div>
                            <p><b>В ЕГРЮЛ изменены данные руководителя 20 декабря 2018</b></p>
                            <p>Предыдущий руководитель: председатель правления Глинский Юрий Викторович.</p>
                        </div>
                    </li>
                    <li>
                        <div class="img-info">
                            <img src="../../build/img/info.svg" alt="">
                        </div>
                        <div>
                            <p>По данным ЕГРЮЛ в юридический адрес организации были внесены изменения 13 февраля 2019</p>
                            <p>Предыдущий адрес: 129085, г Москва, пр-кт Мира, 105 / корп 1</p>
                        </div>
                    </li>
                </ul>
            </section>
            <div class="kpk-vrezka">
                <img src="../../build/img/book.svg" alt="">
                <div>
                    <p class="kpk-vrezka-title">Внимание</p>
                    <p>В связи с недавними изменениями данных организации в ЕГРЮЛ (руководителя, юридического адреса) запросить документы, подтверждающие полномочия, и проанализировать необходимость внесения изменений в договоры и внутренние информационные системы</p>
                </div>
            </div>
            <p class="kpk-warning">Отчет является результатом обработки информации из открытых официальных источников, которые в редких случаях могут содержать неполные или некорректные сведения. Сформулированные рекомендации не являются достаточным основанием для принятия решения о сотрудничестве и должны рассматриваться в совокупности с другими обстоятельствами. В&nbsp;случае обнаружения ошибок просим сообщать о них на линию технической поддержки.</p>
            <section class="kpk-reviews">
                <h3>Отзывы</h3>
                <ul class="kpk-reviews-nav flex-vertical">
                    <li class="active">
                        <p>Положительные</p>
                        <span>12</span>
                    </li>
                    <li>
                        <p>Отрицательные</p>
                        <span>8</span>
                    </li>
                </ul>
                <div class="kpk-reviews-body">
                    <div class="row kpk-review-card">
                        <div class="col-lg-1 col-md-2 col-3">
                            <div class="kpk-reviews-img-wrp">
                                <div class="kpk-reviews-img">
                                    <img src="../../build/img/kpk-review.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-11 col-md-10 col-9 pl-mob-0">
                            <div class="kpk-reviews-name-wrp">
                                <p class="kpk-reviews-name">Виктор Иванович</p>
                                <p class="kpk-reviews-data">07 апр 2020</p>
                            </div>
                            <div class="stars-wrp" data-star="1">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                            </div>
                            <p>Eu malesuada sit justo, elit velit quam adipiscing viverra non. Feugiat egestas eget dignissim tempus, et morbi id amet. Sit leo sed donec ac vitae mattis diam mattis. In id praesent ullamcorper dui ullamcorper tristique enim.</p>
                        </div>
                    </div>
                    <div class="row kpk-review-card">
                        <div class="col-lg-1 col-md-2 col-3">
                            <div class="kpk-reviews-img-wrp">
                                <div class="kpk-reviews-img">
                                    <img src="../../build/img/kpk-review.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-11 col-md-10 col-9 pl-mob-0">
                            <div class="kpk-reviews-name-wrp">
                                <p class="kpk-reviews-name">Виктор Иванович</p>
                                <p class="kpk-reviews-data">07 апр 2020</p>
                            </div>
                            <div class="stars-wrp" data-star="2">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                            </div>
                            <p>Eu malesuada sit justo, elit velit quam adipiscing viverra non. Feugiat egestas eget dignissim tempus, et morbi id amet. Sit leo sed donec ac vitae mattis diam mattis. In id praesent ullamcorper dui ullamcorper tristique enim.</p>
                        </div>
                    </div>
                    <div class="row kpk-review-card">
                        <div class="col-lg-1 col-md-2 col-3">
                            <div class="kpk-reviews-img-wrp">
                                <div class="kpk-reviews-img">
                                    <img src="../../build/img/kpk-review.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-11 col-md-10 col-9 pl-mob-0">
                            <div class="kpk-reviews-name-wrp">
                                <p class="kpk-reviews-name">Виктор Иванович</p>
                                <p class="kpk-reviews-data">07 апр 2020</p>
                            </div>
                            <div class="stars-wrp" data-star="3">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                            </div>
                            <p>Eu malesuada sit justo, elit velit quam adipiscing viverra non. Feugiat egestas eget dignissim tempus, et morbi id amet. Sit leo sed donec ac vitae mattis diam mattis. In id praesent ullamcorper dui ullamcorper tristique enim.</p>
                        </div>
                    </div>
                    <div class="row kpk-review-card">
                        <div class="col-lg-1 col-md-2 col-3">
                            <div class="kpk-reviews-img-wrp">
                                <div class="kpk-reviews-img">
                                    <img src="../../build/img/kpk-review.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-11 col-md-10 col-9 pl-mob-0">
                            <div class="kpk-reviews-name-wrp">
                                <p class="kpk-reviews-name">Виктор Иванович</p>
                                <p class="kpk-reviews-data">07 апр 2020</p>
                            </div>
                            <div class="stars-wrp" data-star="4">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                            </div>
                            <p>Eu malesuada sit justo, elit velit quam adipiscing viverra non. Feugiat egestas eget dignissim tempus, et morbi id amet. Sit leo sed donec ac vitae mattis diam mattis. In id praesent ullamcorper dui ullamcorper tristique enim.</p>
                        </div>
                    </div>
                    <div class="row kpk-review-card">
                        <div class="col-lg-1 col-md-2 col-3">
                            <div class="kpk-reviews-img-wrp">
                                <div class="kpk-reviews-img">
                                    <img src="../../build/img/kpk-review.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-11 col-md-10 col-9 pl-mob-0">
                            <div class="kpk-reviews-name-wrp">
                                <p class="kpk-reviews-name">Виктор Иванович</p>
                                <p class="kpk-reviews-data">07 апр 2020</p>
                            </div>
                            <div class="stars-wrp" data-star="5">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                                <img src="../../build/img/star.svg" alt="">
                            </div>
                            <p>Eu malesuada sit justo, elit velit quam adipiscing viverra non. Feugiat egestas eget dignissim tempus, et morbi id amet. Sit leo sed donec ac vitae mattis diam mattis. In id praesent ullamcorper dui ullamcorper tristique enim.</p>
                        </div>
                    </div>
                </div>
                <div id="pagination-container-kpk"></div>
            </section>
        </div>
    </div>
</div>
