<div class="reviews-page header-pt pb112">
    <div class="container">
        <ul class="breadcrumbs-list">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Портфолио</a></li>
        </ul>
        <h2>Реальные отзывы клиентов</h2>
        <div class="success-page-content">
            <ul class="success-filtres">
                <li class="active">
                    <span>Все</span>
                    <span>12</span>
                </li>
                <li>
                    <span>Тема первая</span>
                    <span>8</span>
                </li>
                <li>
                    <span>Тема вторая</span>
                    <span>0</span>
                </li>
                <li>
                    <span>Тема третья</span>
                    <span>12</span>
                </li>
                <li>
                    <span>Тема четвертая</span>
                    <span>243</span>
                </li>
            </ul>
        </div>
        <div class="row reviews-page-block">
            <div class="col-lg-1 col-md-2 col-3">
                <div class="reviews-page-data">
                    <p>30</p>
                    <p>03.20</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
                <div class="reviews-page-img-wrp">
                    <a data-fancybox="gallery" href="../../build/img/reviewClient1.jpg" class="reviews-page-img">
                        <img src="../../build/img/reviewClient1.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-12 reviews-page-text">
                <p class="author">Белмаст Смоленск</p>
                <p class="topic">Тема первая</p>
                <p>Прошу принять благодарность от ООО "Белмаст Смоленск" за проведенную на высоком уровне профессиональную работу при сотрудничестве с ООО УК "Центр Консалт". Выражаю признательность Вам лично и сотрудникам Вашей организации за содействие в оформлении документации.</p>
            </div>
        </div>
        <div class="row reviews-page-block">
            <div class="col-lg-1 col-md-2 col-3">
                <div class="reviews-page-data">
                    <p>21</p>
                    <p>03.20</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
                <div class="reviews-page-img-wrp">
                    <a data-fancybox="gallery" href="../../build/img/reviewClient2.jpg" class="reviews-page-img">
                        <img src="../../build/img/reviewClient2.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-12 reviews-page-text">
                <p class="author">Варягов П. В. Генеральный директор ООО "ДВК - Проект"</p>
                <p class="topic">Тема первая</p>
                <p>Общество с ограниченной ответственностью «ДВК-Проект» неоднократно обращалась к специалистам ООО «Центр Развития Бизнеса» за юридическими консультациями и поддержкой, и всегда получала квалифицированную помощь в лице менеджера Потёмкиной Анны Гибкий подход и ответственность в работе помогли нашей компании минимизировать финансово-юридические риски и усовершенствовать обеспечение деятельности компании разрешительной документацией. желаем Вам дальнейших успехов И надеемся на плодотворное сотрудничества.</p>
            </div>
        </div>
        <div class="row reviews-page-block">
            <div class="col-lg-1 col-md-2 col-3">
                <div class="reviews-page-data">
                    <p>01</p>
                    <p>03.19</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
                <div class="reviews-page-img-wrp">
                    <div class="reviews-page-img">
                        <!-- <img src="../../build/img/reviewClient1.jpg" alt=""> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-12 reviews-page-text">
                <p class="author">Дарья</p>
                <p class="topic">Тема четвертая</p>
                <p>Добрый день. ! Заказала услугу ИП под ключ, оплатила, прошла неделя все шло по плану. через 10 дней менеджер написала что документы готовы и тут самое интересное ! Я нахожусь в городе Челябинск, а документы в Магнитогорске( конечно об этом никто ничего не говорил!!!) когда связываюсь со своим менеджером чтобы разобраться в ситуации, мне очень в грубой форме объясняют что от них вообще не зависит где я получу эти документы, хотя сразу обговаривалось что документы мне нужно получить ПО ПРОПИСКЕ !!!! Далее мне делают одолжение и просят их отправить по почте ( это неделя или две ) интересно почему сразу нельзя предупредить и вообще за что я заплатила деньги? чтобы ждать свое свидетельство о регистрации ИП месяц ? Еще и электронные подписи не подходят к документам и не могу заверить их у нотариуса и ваши специалисты теперь молчат !!! Я считаю что услуги выполнены не корректно и половину стоимость вы мне должны вернуть !</p>
            </div>
        </div>
        <div class="row reviews-page-block">
            <div class="col-lg-1 col-md-2 col-3">
                <div class="reviews-page-data">
                    <p>21</p>
                    <p>03.20</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-8">
                <div class="reviews-page-img-wrp">
                    <a data-fancybox="gallery" href="../../build/img/reviewClient2.jpg" class="reviews-page-img">
                        <img src="../../build/img/reviewClient2.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-12 reviews-page-text">
                <p class="author">Варягов П. В. Генеральный директор ООО "ДВК - Проект"</p>
                <p class="topic">Тема первая</p>
                <p>Общество с ограниченной ответственностью «ДВК-Проект» неоднократно обращалась к специалистам ООО «Центр Развития Бизнеса» за юридическими консультациями и поддержкой, и всегда получала квалифицированную помощь в лице менеджера Потёмкиной Анны Гибкий подход и ответственность в работе помогли нашей компании минимизировать финансово-юридические риски и усовершенствовать обеспечение деятельности компании разрешительной документацией. желаем Вам дальнейших успехов И надеемся на плодотворное сотрудничества.</p>
            </div>
        </div>
        <div id="pagination-container-reviews"></div>
    </div>
</div>
