.faq-page {
    background-color: #fff;
    h2 {
        margin-bottom: 48px;
        color: $dark;
    }
    .not-found-block {
        margin-top: 62px;
    }
}
.faq-filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -16px;
    margin-bottom: 12px;
    overflow: hidden;
    li {
        display: flex;
        align-items: flex-start;
        margin: 0 16px;
        cursor: pointer;
        padding: 6px 0;
        span {
            font-family: 'PT Serif', serif;
            color: rgba(6, 13, 18, 0.3);
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.02em;
            transition: .2s;
            &:last-child {
                color: #8C969E;
                letter-spacing: 0.04em;
                margin-left: 8px;
            }
        }
        &:hover {
            span {
                &:first-child {
                    color: $dark;
                }
            }
        }
        &.active {
            border-bottom: 1px solid #ECBB79;
            span {
                &:first-child {
                    color: $dark;
                }
            }
        }
    }
    &.cutFiltres {
        height: 33px;
    }
}
.faq-filtres-wrp {
    position: relative;
}
.fag-overlay {
    position: absolute;
    top: 5px;
    right: 85px;
    height: 22px;
    width: 262px;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}
.more-filtres-btn {
    position: absolute;
    right: 0;
    top: 2px;
    border: 1px solid #ECBB79;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #ECBB79;
    background-color: #fff;
    cursor: pointer;
    transition: .2s;
    &:hover {
        color: #ffffff;
        background-color: #ECBB79;
    }
}
.faq-filtres-mob {
    display: none;
}
@media (max-width: 767px) {
    .faq-page h2 {
        margin-bottom: 34px;
    }
}
@media (max-width: 480px) {
    .faq-filtres-wrp {
        display: none;
    }
    .faq-filtres-mob {
        display: block;
    }
}
